<% if flash.has?(:message) %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:message] %>
  </div>
<% end %>

<row>
  <% @dogs.each do |dog| %>
  <div class="col-md-3 card dog-card">
    <div class="avatar-container">
      <img class="avatar" src="http://via.placeholder.com/50x50" alt="">
    </div>
    <h4 class="pull-center">
      <a href="/dogs/<%= dog.id %>">
        <%= dog.name %>
      </a>
    </h4>
  </div>
  <% end %>
</row>

<!-- <row>
  <h4>Recent Activities</h4>
  <% current_user.activities.each do |activity| %>
  <p>
    <a href="/activities/<%= activity.id %>">
      <%= activity.generate_story %>
    </a>
  </p>
  <% end %>
</row> -->
